* {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.header-title-banner-bg {
    background-image: url(img/obamabg.webp);
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: table;
    width: 100%;
}

.leftsideisp {
    width: 5%;
    border: 1px solid #fff;
    position: fixed;
    height: 100%;
}

.rigthsidedisp {
    width: 95%;
    margin-left: 5%;
}

.bannertext {
    height: 50vh;
    display: table-cell;
    vertical-align: middle;
}

.bannertext p {
    width: 100%;
}

.logo {
    overflow: hidden;
    padding: 30px 0;
    border-bottom: 2px solid #e3dfdf;
}

.shinking .logo img {
    height: 60px;
}

.menues {
    width: 100%;
    padding: 0;
}

.shinking .menues li {
    text-decoration: none;
    padding: 30px 0;
    border-bottom: 1px solid #e3dfdf;
    width: 100%;
}

.shinking .menues li a {
    text-decoration: none;
    display: none;
}

.contributionbtn {
    background: #2a2970 !important;
}

.card img {
    padding: 0 20px 20px 20px;
}

.card {
    background: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}
.card-title{
    font-weight: 200;
}
.separators{
    margin-bottom: 100px;
}
.donationbtn{
    font-size: larger !important;
}
.form-check{
    padding-top: .6rem;
}
::placeholder{
    font-weight: 200;
    color: black;
}